Repository PilotDataPlatform/pipelines: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dev-build-dcmedit, staging-build-dcmedit, dev-build-filecopy, staging-build-filecopy

dev-build-dcmedit:
  stage: build
  tags:
  - deployement
  script:
  - docker login ${REGISTRY_DEV} -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
  - docker build -t ${DCMEDIT_CONTAINER_IMAGE_DEV} dcmedit/.
  - docker push ${DCMEDIT_CONTAINER_IMAGE_DEV}

staging-build-dcmedit:
  stage: build
  tags:
  - deployement
  script:
  - docker login ${REGISTRY_STAGING} -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
  - docker build -t ${DCMEDIT_CONTAINER_IMAGE_STAGING} dcmedit/.
  - docker push ${DCMEDIT_CONTAINER_IMAGE_STAGING}

dev-build-filecopy:
  stage: build
  tags:
  - deployement
  script:
  - docker login ${REGISTRY_DEV} -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
  - docker build -t ${FILECOPY_CONTAINER_IMAGE_DEV} filecopy/.
  - docker push ${FILECOPY_CONTAINER_IMAGE_DEV}

staging-build-filecopy:
  stage: build
  tags:
  - deployement
  script:
  - docker login ${REGISTRY_STAGING} -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
  - docker build -t ${FILECOPY_CONTAINER_IMAGE_STAGING} filecopy/.
  - docker push ${FILECOPY_CONTAINER_IMAGE_STAGING}

Change message time
  filecopy/operations/kafka_producer.py
Due: none

Change kafka connection not method based
  filecopy/operations/commands/copy.py
  filecopy/operations/commands/delete.py
  filecopy/operations/kafka_producer.py
Due: none

Fix kafka topic
  filecopy/operations/kafka_producer.py
Due: none

trigger the pipeline
  Jenkinsfile
Due: none

trigger filecopy
  filecopy/Dockerfile
Due: dev-build-filecopy, staging-build-filecopy

Fix zip file preview
  filecopy/operations/services/dataops_utility/client.py
Due: none

Trigger CICD
  filecopy/README.md
Due: dev-build-filecopy, staging-build-filecopy

Change lineage API timeout time and add log
  filecopy/operations/services/provenance/client.py
Due: none

change timeout for lineage API
  filecopy/operations/services/provenance/client.py
Due: none

Change timeout for lineage API (#12)
  filecopy/operations/services/provenance/client.py
Due: none

Change lineage API timeout
  filecopy/operations/services/provenance/client.py
Due: none

remove timeout
  filecopy/operations/services/provenance/client.py
Due: none

Update common package version
  filecopy/poetry.lock
  filecopy/pyproject.toml
Due: dev-build-filecopy, staging-build-filecopy

Add log for temp credential to debug
  filecopy/operations/minio_boto3_client.py
Due: none

Fix Kafka sending message issue
  filecopy/operations/commands/copy.py
  filecopy/operations/commands/delete.py
  filecopy/operations/kafka_producer.py
  filecopy/operations/managers.py
  filecopy/operations/services/metadata/client.py
Due: none

Update kafka schema
  filecopy/operations/item_activity_schema.avsc
Due: none

Update kafka schema (#17)
  filecopy/operations/item_activity_schema.avsc
Due: none

PILOT-1280: Clean up config file
  .env.schema
  .pre-commit-config.yaml
  bids-validator/.env.schema
  bids-validator/scripts/config.py
  bids-validator/scripts/database_service.py
  bids-validator/scripts/locks.py
  bids-validator/scripts/validate_dataset.py
  filecopy/operations/commands/copy.py
  filecopy/operations/commands/delete.py
  filecopy/operations/config.py
  filecopy/operations/kafka_producer.py
Due: none

Change config variable name for database name
  bids-validator/.env.schema
  bids-validator/scripts/config.py
  bids-validator/scripts/database_service.py
Due: none

Add the missing minio port and rds port
  .env.schema
  bids-validator/.env.schema
  bids-validator/scripts/config.py
  bids-validator/scripts/database_service.py
  bids-validator/scripts/validate_dataset.py
  filecopy/operations/commands/copy.py
  filecopy/operations/commands/delete.py
  filecopy/operations/config.py
  filecopy/operations/kafka_producer.py
Due: none

PILOT-1321: Update the common package with the update of minio boto3
  bids-validator/poetry.lock
  bids-validator/pyproject.toml
  bids-validator/scripts/config.py
  bids-validator/scripts/validate_dataset.py
  filecopy/operations/commands/copy.py
  filecopy/operations/commands/delete.py
  filecopy/operations/config.py
  filecopy/operations/minio_boto3_client.py
  filecopy/poetry.lock
  filecopy/pyproject.toml
Due: dev-build-filecopy, staging-build-filecopy

PILOT-1323 Creating a build and Jenkins trigger for pipelines (filecopy/dcmedit/bids-validator) in Github
  .github/workflows/build-and-publish-bids-validator.yml
  .github/workflows/build-and-publish-dcmedit.yml
  .github/workflows/build-and-publish-filecopy.yml
  .github/workflows/run-tests-bids-validator.yml
  .github/workflows/run-tests-dcmedit.yml
  .github/workflows/run-tests-filecopy.yml
  filecopy/README.md
Due: dev-build-filecopy, staging-build-filecopy

Fix config
  .env.schema
  .pre-commit-config.yaml
  bids-validator/scripts/config.py
  bids-validator/scripts/database_service.py
  filecopy/operations/commands/copy.py
  filecopy/operations/commands/delete.py
  filecopy/operations/config.py
  filecopy/operations/kafka_producer.py
Due: none

Trigger dcmedit pipeline
  .github/workflows/build-and-publish-bids-validator.yml
  .github/workflows/build-and-publish-dcmedit.yml
  .github/workflows/build-and-publish-filecopy.yml
  dcmedit/README.md
Due: dev-build-dcmedit, staging-build-dcmedit

Trigger filecopy pipeline
  filecopy/README.md
Due: dev-build-filecopy, staging-build-filecopy

Trigger bids-validator pipeline
  bids-validator/README.md
Due: none

Change minio variable name
  .env.schema
  bids-validator/.env.schema
  bids-validator/scripts/config.py
  bids-validator/scripts/validate_dataset.py
  filecopy/operations/commands/copy.py
  filecopy/operations/commands/delete.py
  filecopy/operations/config.py
  filecopy/operations/kafka_producer.py
Due: none

Rename lineage and audit trail service, fix variable name
  .env.schema
  bids-validator/.env.schema
  bids-validator/README.md
  bids-validator/scripts/config.py
  bids-validator/scripts/validate_dataset.py
  filecopy/README.md
  filecopy/operations/commands/copy.py
  filecopy/operations/commands/delete.py
  filecopy/operations/config.py
  filecopy/operations/managers.py
  filecopy/operations/services/audit_trail/__init__.py
  filecopy/operations/services/audit_trail/client.py
  filecopy/operations/services/lineage/__init__.py
  filecopy/operations/services/lineage/client.py
  filecopy/tests/fixtures/services.py
  filecopy/tests/services/audit_trail/__init__.py
  filecopy/tests/services/audit_trail/test_client.py
  filecopy/tests/services/lineage/__init__.py
  filecopy/tests/services/lineage/test_client.py
Due: dev-build-filecopy, staging-build-filecopy

PILOT-1280: remove dataops, audit_trail, cataloguing
  filecopy/operations/commands/copy.py
  filecopy/operations/commands/delete.py
  filecopy/operations/managers.py
  filecopy/operations/services/dataops/__init__.py
  filecopy/operations/services/dataops/client.py
  filecopy/tests/fixtures/services.py
  filecopy/tests/services/audit_trail/test_client.py
  filecopy/tests/services/dataops_utility/test_client.py
  filecopy/tests/services/lineage/test_client.py
Due: none

Rename DataopsClient to DataopsServiceClient
  filecopy/operations/commands/copy.py
  filecopy/operations/commands/delete.py
  filecopy/operations/managers.py
  filecopy/operations/services/dataops/client.py
  filecopy/tests/fixtures/services.py
  filecopy/tests/services/dataops/__init__.py
  filecopy/tests/services/dataops/test_client.py
Due: none

PILOT-1280: Clean up config file (#18)
  .env.schema
  bids-validator/.env.schema
  bids-validator/README.md
  bids-validator/poetry.lock
  bids-validator/pyproject.toml
  bids-validator/scripts/config.py
  bids-validator/scripts/database_service.py
  bids-validator/scripts/locks.py
  bids-validator/scripts/validate_dataset.py
  filecopy/README.md
  filecopy/operations/commands/copy.py
  filecopy/operations/commands/delete.py
  filecopy/operations/config.py
  filecopy/operations/managers.py
  filecopy/operations/minio_boto3_client.py
  filecopy/operations/services/audit_trail/__init__.py
  filecopy/operations/services/audit_trail/client.py
  filecopy/operations/services/dataops/__init__.py
  filecopy/operations/services/dataops/client.py
  filecopy/operations/services/lineage/__init__.py
  filecopy/operations/services/lineage/client.py
  filecopy/poetry.lock
  filecopy/pyproject.toml
  filecopy/tests/fixtures/services.py
  filecopy/tests/services/audit_trail/__init__.py
  filecopy/tests/services/audit_trail/test_client.py
  filecopy/tests/services/dataops/__init__.py
  filecopy/tests/services/dataops/test_client.py
  filecopy/tests/services/lineage/__init__.py
  filecopy/tests/services/lineage/test_client.py
Due: dev-build-filecopy, staging-build-filecopy

Edit readme file in pipelines
  CONTRIBUTING.md
  README.md
  bids-validator/README.md
  filecopy/README.md
Due: dev-build-filecopy, staging-build-filecopy

Pilot 1280: Edit the readme file in pipelines (#20)
  CONTRIBUTING.md
  README.md
  bids-validator/README.md
  filecopy/README.md
Due: dev-build-filecopy, staging-build-filecopy

Hotfix: change geid to id for approval database modal
  filecopy/operations/config.py
  filecopy/operations/services/approval/models.py
  filecopy/tests/services/approval/test_models.py
Due: none

Pilot 1321: Update pipelines with the change in boto3 adapter (#19)
  bids-validator/README.md
  filecopy/operations/services/approval/models.py
  filecopy/tests/services/approval/test_models.py
Due: none

Path conditions:
  dev-build-dcmedit: any of: dcmedit/*
  staging-build-dcmedit: any of: dcmedit/*
  dev-build-filecopy: any of: filecopy/*, filecopy/scripts/*
  staging-build-filecopy: any of: filecopy/*, filecopy/scripts/*
