Repository PilotDataPlatform/pipelines: changes, and which Jenkins stages are due for each by the changed paths.
All: DEV Build and push dcmedit image, DEV Remove dcmedit image, DEV Building and push filecopy, DEV Remove filecopy image, DEV Building and push bids-validator, DEV Remove bids-validator image, STAGING Building and push dcmedit image, STAGING Remove dcmedit image, STAGING Building and push filecopy image, STAGING Remove filecopy image, STAGING Building and push bids-validator image, STAGING Remove bids-validator image

Path conditions:
  DEV Build and push dcmedit image: any of: dcmedit/**
  DEV Remove dcmedit image: any of: dcmedit/**
  DEV Building and push filecopy: any of: filecopy/**
  DEV Remove filecopy image: any of: filecopy/**
  DEV Building and push bids-validator: any of: bids-validator/**
  DEV Remove bids-validator image: any of: bids-validator/**
  STAGING Building and push dcmedit image: any of: dcmedit/**
  STAGING Remove dcmedit image: any of: dcmedit/**
  STAGING Building and push filecopy image: any of: filecopy/**
  STAGING Remove filecopy image: any of: filecopy/**
  STAGING Building and push bids-validator image: any of: bids-validator/**
  STAGING Remove bids-validator image: any of: bids-validator/**

Update python version
  README.md
  bids-validator/poetry.lock
  bids-validator/pyproject.toml
  poetry.lock
  pyproject.toml
Due: DEV Building and push bids-validator, DEV Remove bids-validator image, STAGING Building and push bids-validator image, STAGING Remove bids-validator image

Update license
  LICENSE
  dcmedit/Dockerfile
  dcmedit/poetry.lock
  dcmedit/pyproject.toml
  dcmedit/scripts/config.py
  dcmedit/scripts/dcm_edit.py
  dcmedit/scripts/lock.py
  dcmedit/scripts/logger.py
  dcmedit/scripts/metadata_helper.py
  dcmedit/scripts/minio_client.py
  dcmedit/scripts/preprocess.py
  dcmedit/scripts/utils.py
  license_header.md
Due: DEV Build and push dcmedit image, DEV Remove dcmedit image, STAGING Building and push dcmedit image, STAGING Remove dcmedit image

Update follow pre-commit
  filecopy/operations/__init__.py
  filecopy/operations/commands/__init__.py
  filecopy/operations/services/__init__.py
  filecopy/operations/services/approval/__init__.py
  filecopy/operations/services/cataloguing/__init__.py
  filecopy/operations/services/dataops_utility/__init__.py
  filecopy/operations/services/metadata/__init__.py
  filecopy/operations/services/provenance/__init__.py
  filecopy/tests/__init__.py
  filecopy/tests/fixtures/__init__.py
  filecopy/tests/services/__init__.py
  filecopy/tests/services/cataloguing/__init__.py
  filecopy/tests/services/dataops_utility/__init__.py
  filecopy/tests/services/metadata/__init__.py
  filecopy/tests/services/metadata/test_client.py
  filecopy/tests/services/provenance/__init__.py
  filecopy/tests/services/provenance/test_client.py
Due: DEV Building and push filecopy, DEV Remove filecopy image, STAGING Building and push filecopy image, STAGING Remove filecopy image

Update reigstry URL
  Jenkinsfile
Due: none

Trigger CICD
  dcmedit/README.md
Due: DEV Build and push dcmedit image, DEV Remove dcmedit image, STAGING Building and push dcmedit image, STAGING Remove dcmedit image

Add readme to describe the service
  README.md
  bids-validator/README.md
  bids-validator/scripts/validate_dataset.py
  filecopy/README.md
Due: DEV Building and push filecopy, DEV Remove filecopy image, DEV Building and push bids-validator, DEV Remove bids-validator image, STAGING Building and push filecopy image, STAGING Remove filecopy image, STAGING Building and push bids-validator image, STAGING Remove bids-validator image

Update staging stage
  Jenkinsfile
Due: none

Change dcmedit dockerfile
  dcmedit/Dockerfile
Due: DEV Build and push dcmedit image, DEV Remove dcmedit image, STAGING Building and push dcmedit image, STAGING Remove dcmedit image

Upgrade python version
  dcmedit/Dockerfile
Due: DEV Build and push dcmedit image, DEV Remove dcmedit image, STAGING Building and push dcmedit image, STAGING Remove dcmedit image

Trigger cicd
  filecopy/README.md
Due: DEV Building and push filecopy, DEV Remove filecopy image, STAGING Building and push filecopy image, STAGING Remove filecopy image

Update URL
  Jenkinsfile
Due: none

Trigger CICD
  filecopy/README.md
Due: DEV Building and push filecopy, DEV Remove filecopy image, STAGING Building and push filecopy image, STAGING Remove filecopy image

Upgrade python version to 3.9
  bids-validator/Dockerfile
Due: DEV Building and push bids-validator, DEV Remove bids-validator image, STAGING Building and push bids-validator image, STAGING Remove bids-validator image

Rename the image for dev and staging
  Jenkinsfile
Due: none

Missing }
  Jenkinsfile
Due: none

Trigger CICD
  bids-validator/README.md
Due: DEV Building and push bids-validator, DEV Remove bids-validator image, STAGING Building and push bids-validator image, STAGING Remove bids-validator image

Update image tag
  Jenkinsfile
Due: none

Fix bids validator issue
  bids-validator/Dockerfile
  bids-validator/poetry.lock
  bids-validator/scripts/config.py
  bids-validator/scripts/minio_client.py
  bids-validator/scripts/validate_dataset.py
  dcmedit/README.md
  dcmedit/scripts/minio_client.py
Due: DEV Build and push dcmedit image, DEV Remove dcmedit image, DEV Building and push bids-validator, DEV Remove bids-validator image, STAGING Building and push dcmedit image, STAGING Remove dcmedit image, STAGING Building and push bids-validator image, STAGING Remove bids-validator image

Trigger pipeline
  bids-validator/README.md
Due: DEV Building and push bids-validator, DEV Remove bids-validator image, STAGING Building and push bids-validator image, STAGING Remove bids-validator image

Trigger bids-validator pipeline
  bids-validator/README.md
Due: DEV Building and push bids-validator, DEV Remove bids-validator image, STAGING Building and push bids-validator image, STAGING Remove bids-validator image

Trigger cicd
  bids-validator/README.md
Due: DEV Building and push bids-validator, DEV Remove bids-validator image, STAGING Building and push bids-validator image, STAGING Remove bids-validator image

Trigger pipelines
  bids-validator/README.md
Due: DEV Building and push bids-validator, DEV Remove bids-validator image, STAGING Building and push bids-validator image, STAGING Remove bids-validator image

Update .dockerignore
  bids-validator/.dockerignore
Due: DEV Building and push bids-validator, DEV Remove bids-validator image, STAGING Building and push bids-validator image, STAGING Remove bids-validator image

removes pip upgrade
  bids-validator/Dockerfile
Due: DEV Building and push bids-validator, DEV Remove bids-validator image, STAGING Building and push bids-validator image, STAGING Remove bids-validator image

Change app name for bids validator
  bids-validator/scripts/config.py
Due: DEV Building and push bids-validator, DEV Remove bids-validator image, STAGING Building and push bids-validator image, STAGING Remove bids-validator image

Change to project client
  filecopy/operations/commands/copy.py
  filecopy/operations/commands/delete.py
  filecopy/operations/config.py
  filecopy/operations/managers.py
  filecopy/operations/services/cataloguing/client.py
  filecopy/operations/services/metadata/client.py
  filecopy/operations/services/provenance/client.py
  filecopy/poetry.lock
  filecopy/pyproject.toml
  filecopy/tests/services/provenance/test_client.py
Due: DEV Building and push filecopy, DEV Remove filecopy image, STAGING Building and push filecopy image, STAGING Remove filecopy image

fix click type
  filecopy/operations/commands/copy.py
  filecopy/operations/commands/delete.py
  filecopy/pyproject.toml
Due: DEV Building and push filecopy, DEV Remove filecopy image, STAGING Building and push filecopy image, STAGING Remove filecopy image

fix flake8
  filecopy/operations/commands/copy.py
Due: DEV Building and push filecopy, DEV Remove filecopy image, STAGING Building and push filecopy image, STAGING Remove filecopy image
